@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --success-color: #8aaba0;
  --error-color: #e5a096;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  background: url('imgs/memphis-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: absolute;
  right: 160px;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 100%;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 72px;
  text-align: center;
  transform: rotate(-4.95deg);
  margin-top: 70%;
}

.form {
  font-family: 'Raleway', sans-serif;
  padding: 30px 40px;
}

.form-control {
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  visibility: hidden;
}

.form-control input {
  border: 1px solid black;
  border-radius: 50px;
  display: block;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  background-color: #8aaba0;
  border: 2px solid #8aaba0;
  border-radius: 50px;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

button:focus {
  outline: none;
}

::placeholder {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.modal-container {
  position: absolute;
  right: 160px;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 100%;
  display: none;
}
